.dropButton 
	{
	background-color: #484848;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	min-width: 200px;
	float: left;
}

.dropButton:hover, .dropButton:focus 
	{
	background-color: #181818;
}


.droppedMenu 
	{
	background-color: #D0D0D0;
	padding: 16px;
	width: auto;
	display: none;
}


.droppedMenu a 
	{
	color: black;
	padding: 10px 15px;
	text-decoration: none;
}


.droppedMenu a:hover 
	{
	background-color: #A0A0A0;
}

.show 
	{
	display:block;
}

.navcontain
	{
	display: grid;
}


.topnav
	{
	grid-row-start: 1;
}

.botnav
	{
	grid-row-start: 2;
}







